<div>
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
  
        <mat-nav-list (click)="sidenav.close()">
          <a mat-list-item>
            <mat-icon>person_add</mat-icon>
            <span>Course List</span>
        </a>
        <a mat-list-item>
            <mat-icon>account_circle</mat-icon>
            <span>Add new Course</span>
        </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/">
  
          <mat-icon>home</mat-icon>
  
          Home
  
      </a>
        <a mat-button routerLink="/register">
  
            <mat-icon>person_add</mat-icon>
  
            Registration
          </a>
        <a mat-button routerLink="/login">
  
            <mat-icon>account_circle</mat-icon>
  
            Login
  
        </a>
  
     <a mat-button [matMenuTriggerFor]="dropdown">
          About Us
      </a>
      <mat-menu #dropdown>
          <button mat-menu-item (click)="openDialog()">CEO Messages</button>
          <button mat-menu-item (click)="openDialog1()">Contact Details</button> 
      </mat-menu>
  
    </mat-toolbar>
    <br>
   <div>
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="query"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <br>
    <br>
    </div>

    <div><mat-label><b>Pages in my Application</b></mat-label></div>
    <div>
      <mat-list>
          <mat-list-item>Registration</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Login</mat-list-item>
          <mat-divider></mat-divider>
      </mat-list>
      </div>
    

    <router-outlet></router-outlet>
  </mat-sidenav-container>
  </div>
  

