<div style="background-size: cover;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7qwQFFN6BQCrp8eIwUKQFRhlMbjp1VNxRXQ&usqp=CAU);">
<h1 style="color:rgb(7, 9, 44);text-align: center;height: 200px;"><b>Welcome to Home</b></h1>
<div>
    <h2>Progress Bars</h2>
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="query"></mat-progress-bar>
    <br>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <br>
    <br>
    </div>

    <div><mat-label><b>Pages in my Application</b></mat-label></div>
    <div>
      <mat-list>
          <mat-list-item>Registration</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Login</mat-list-item>
          <mat-divider></mat-divider>
      </mat-list>
      </div>
    